UserStorage/UserStorageMonitor/Connected Services/UserStorageServiceReference/diagnostics1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/diagnostics?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserStorage.Diagnostics.Query" />
  <xs:import schemaLocation="http://localhost:8080/diagnostics?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserStorage.Diagnostics" />
  <xs:element name="GetServicesCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServicesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserStorage.Diagnostics.Query" minOccurs="0" name="queryType" nillable="true" type="q1:EmptyQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserStorage.Diagnostics" minOccurs="0" name="QueryServicesResult" nillable="true" type="q2:ArrayOfServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>