UserStorage/UserStorageMonitor/Connected Services/UserStorageServiceReference/Diagnostics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Diagnostics" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/diagnostics?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/diagnostics?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/diagnostics?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserStorage.Diagnostics.Query" />
      <xsd:import schemaLocation="http://localhost:8080/diagnostics?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserStorage.Diagnostics" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Monitor_GetServicesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesCount" />
  </wsdl:message>
  <wsdl:message name="Monitor_GetServicesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesCountResponse" />
  </wsdl:message>
  <wsdl:message name="Monitor_QueryServices_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryServices" />
  </wsdl:message>
  <wsdl:message name="Monitor_QueryServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryServicesResponse" />
  </wsdl:message>
  <wsdl:portType name="Monitor">
    <wsdl:operation name="GetServicesCount">
      <wsdl:input wsam:Action="http://tempuri.org/Monitor/GetServicesCount" message="tns:Monitor_GetServicesCount_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/Monitor/GetServicesCountResponse" message="tns:Monitor_GetServicesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryServices">
      <wsdl:input wsam:Action="http://tempuri.org/Monitor/QueryServices" message="tns:Monitor_QueryServices_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/Monitor/QueryServicesResponse" message="tns:Monitor_QueryServices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Monitor" type="tns:Monitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServicesCount">
      <soap:operation soapAction="http://tempuri.org/Monitor/GetServicesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryServices">
      <soap:operation soapAction="http://tempuri.org/Monitor/QueryServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Diagnostics">
    <wsdl:port name="BasicHttpBinding_Monitor" binding="tns:BasicHttpBinding_Monitor">
      <soap:address location="http://localhost:8080/diagnostics/monitor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>